/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    transition: background 0.3s, color 0.3s;
}

.container {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Botón de cambio de tema */
#themeToggle {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
}

/* Estilos de formulario */
#commentForm {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* Estilos de comentarios */
.comment {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.comment span {
    font-size: 0.8em;
    color: gray;
}

/* modo oscuro */
.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .container {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode input {
    background: #555;
    color: white;
    border: none;
}

.dark-mode button {
    background: #444;
    color: white;
    border: none;
}

.dark-mode .comment {
    background: #666;
}

.dark-mode .comment span {
    color: lightgray;
}